.radius-input-cirlce {
    .circle-header {
        position: relative;
        top: 20%;
        text-align: center;
        margin-bottom: -18px;
        h4 {
            display: inline;
        }
    }
    // @include vertical-align();
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 100%;
    background-color: #F44336;
    box-shadow: 4px 6px 31px #333333;
    .radius-input {
        // @include vertical-align();
        text-align: center;
        input {
            font-size: 2em;
            width: 100px;
            text-align: center;
        }
    }
    .find-btn {
        // @include vertical-align();
        text-align: center;
    }
}
