@import './_utilities.scss';
@import './_home.scss';
@import './_map.scss';
@import './_about.scss';

html, body {
    background-color: $primary-color;
}

header {
    box-shadow: none !important;
    a {
        color: white;
        text-decoration: none;
    }
}

*:not(i) {
    font-family: 'Raleway' !important;
}

.none-found {
    width: 720px;
    margin: auto;
    h4 {
        text-align: center;
        color: white;
    }
}
