.radius-input-circle {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 100%;
  background-color: red;
  box-shadow: 4px 6px 31px #333333; }
  .radius-input-circle .circle-header {
    position: relative;
    top: 20%;
    text-align: center;
    margin-bottom: -18px; }
    .radius-input-circle .circle-header h4 {
      display: inline; }
  .radius-input-circle .radius-input {
    position: relative;
    top: 136px;
    text-align: center; }
    .radius-input-circle .radius-input input {
      font-size: 2em;
      width: 100px;
      text-align: center;
      background-color: white;
      color: #F44336;
      border: none;
      margin: 0 5px;
      border-bottom: 1px solid #F44336; }
      .radius-input-circle .radius-input input:focus {
        outline-width: 0; }

.type-input {
  width: 400px;
  margin: auto;
  margin-top: 20px; }
  .type-input div {
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    width: 52px;
    height: 52px;
    border-radius: 100%; }
    .type-input div a {
      position: relative;
      text-align: center;
      top: 26%;
      left: 24%; }
      .type-input div a i {
        font-size: 2em; }

.submit-btn-container {
  width: 300px;
  margin: auto;
  margin-top: 40px;
  text-align: center; }
  .submit-btn-container button {
    width: 100px;
    background-color: white; }
    .submit-btn-container button:hover {
      background-color: white; }

.about-div {
  width: 78%;
  margin: auto;
  color: #F44336;
  position: relative;
  top: 46%;
  left: 5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.3em; }
  .about-div a {
    color: teal; }

html, body {
  background-color: #F44336; }

header {
  box-shadow: none !important; }
  header a {
    color: white;
    text-decoration: none; }

*:not(i) {
  font-family: 'Raleway' !important; }
